# User's Files
watcher/userdata/*
!watcher/userdata/gitkeep
watcher/logs/*
watcher/watcher.zip
watcher/core/version
watcher/core/rss/imdb
db/*
core/cp_plugins/tasks.json
.editorconfig

# Packaging files
*.egg
/*.egg-info
/dist/*
build
_build
.cache

# Compiled
*.pyc
__pycache__
watcher/templates/cache

# System Files
desktop.ini
Thumbs.db
TODO
.*
!.github
!.pre-commit-config.yaml
